.FoodList .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  height: 270px;
  margin-top: 1rem;
  background-color: #189c6c;
  transition: height 0.9s, opacity 1s, transform 0.5s;
  border-radius: 15px;
  padding: 2rem 2rem 0rem 2rem;
  font-size: 1.6rem;
  color: white;
}
.FoodList .img-bs img {
  width: 80%;
  height: 85%;
  border-radius: 15px;
  border: 2px solid white;
}
.FoodList .description > h1 {
  font-family: "Secular One", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(144, 250, 31);
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.FoodList p {
  font-family: "Kite One", sans-serif;
  line-height: 2.3rem;
}
.description {
  width: 70%;
}
.opacity {
  opacity: 0;
  height: 100vh;
}
.height-px {
  height: 200px;
}
.height-pc {
  height: 100%;
}
.side {
  opacity: 1;
}
.FoodList .container:hover {
  transform: scale(1.03);
}
.FoodList .details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-right: 2rem;
  gap: 0.8rem;
}
#rating {
  font-family: "Kaushan Script", cursive;
  color: #d4e20e;
}
.FoodList .filter {
  background-color: rgb(36, 36, 36);
  height: 100vh;
  width: 1000px;
}
.list-body {
  display: flex;
}
@media (max-width: 694px) {
  .FoodList .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
    padding: 2rem 0 3rem 0;
  }
}
@media (max-width: 1230px) {
  .FoodList .container {
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
  }
  .FoodList .img-bs img {
    width: 90%;
    height: 95%;
  }
  .FoodList .img-bs {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .FoodList .container {
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    padding: 2rem 0 3rem 0;
  }
}
